---
import FormattedDate from "@/components/FormattedDate.astro";
import { getLangFromUrl, getLinkPost } from "@/lib/use-i18n";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import appConfig from "app.config";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return appConfig.langs.map((lang) => {
    return {
      params: { lang, slug: "articles" },
    };
  });
}

const currentLang = getLangFromUrl(Astro.url.pathname);

const pageEntry = await getEntry("pages", `${currentLang}/articles`);

const posts = (await getCollection("articles"))
  .filter((post) => post.id.includes(currentLang))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<DefaultLayout
  title={pageEntry?.data.title}
  description={pageEntry?.data.description}
>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={getLinkPost(currentLang, post.slug, post.data.folder)}>
              <img
                width={720}
                height={360}
                src={`${import.meta.env.BASE_URL}${post.data.cover}`}
                alt=""
              />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
