---
import { ColorModeSwitch } from "@/components/core/color-mode-switch";
import { LanguageSwitch } from "@/components/core/language-switch";
import { Navigation } from "@/components/core/navigation";
import { NavigationMobile } from "@/components/core/navigation-mobile";
import { getLangFromUrl, getLink } from "@/i18n/utils";
import { cn } from "@/lib/utils";
import appConfig from "app.config";

const url = Astro.url;
const lang = getLangFromUrl(url);
const pathname = url.pathname;
---

<header
  class={cn(
    "sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
  )}
>
  <div class={cn("container flex h-14 items-center")}>
    <div class={cn("mr-4 hidden md:flex")}>
      <a
        href={getLink(lang, "")}
        class={cn("mr-6 flex items-center space-x-2")}
      >
        {appConfig.title}
      </a>
      <LanguageSwitch client:load currentURL={pathname} />
    </div>
    <div
      class={cn(
        "flex flex-1 items-center justify-between space-x-2 md:justify-end"
      )}
    >
      <NavigationMobile client:load currentLang={lang} currentSlug={pathname} />
      <Navigation
        client:load
        currentLang={lang}
        currentSlug={pathname}
        isMobile={false}
      />
      <div class={cn("flex flex-1 items-center md:flex-initial")}>
        <!-- <Search class={cn("w-full md:w-auto")} /> -->
        <ColorModeSwitch client:load />
      </div>
    </div>
  </div>
</header>
