---
import BaseHead from "@/components/BaseHead.astro";
import { PageHeader } from "@/components/core/page-header";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Header from "@/components/Header.astro";
import { getLangFromUrl } from "@/lib/use-i18n";
import { cn } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"articles">["data"];

const lang = getLangFromUrl(Astro.url.pathname);

const { title, description, pubDate, updatedDate, cover } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="min-h-screen">
      <PageHeader heading={title} text={description} cover={cover} />
      <div class="container mt-4">
        <div class="flex md:gap-4">
          <div class={cn("mx-auto min-w-0 w-full xl:w-[75%]")}>
            <slot />
          </div>
          <div class="hidden text-sm xl:block w-[25%]">
            <div
              class="sticky top-16 max-h-[calc(var(--vh)-4rem)] overflow-y-auto"
            >
              <p>toc</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
