---
import BaseHead from "@/components/BaseHead.astro";
import { PageHeader } from "@/components/core/page-header";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { getLangFromUrl } from "@/lib/use-i18n";

const lang = getLangFromUrl(Astro.url.pathname);

interface Props {
  title?: string;
  description?: string;
  image?: string;
  mode?: "home" | "post";
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = `background_1.jpg`,
  mode = "post",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main class="min-h-screen">
      <PageHeader
        heading={title}
        text={description}
        cover={image}
        mode={mode}
      />
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
